{% extends "base.html"%}
{% load static %}

{% block body %}


<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row p-2">
        <div class="col-sm-6 col-lg-4">
            <label> Subject: </label>
            <select class="form-control" value="{{ form.subject.value }}" id="subject" name='subject'>
                
                <option hidden disabled {% if form.subject.value == None %} selected {% endif %} value> Subject </option>
                {% for subject in subjects %}
                <option value="{{ subject.0 }}" {% if form.subject.value == subject.0 %} selected {% endif %}> {{ subject.0 }}: {{ subject.1 }}</option>
                {% endfor %}
            </select>
            
            {% if form.subject.errors %}
            {% for error in form.subject.errors%}
            <div class="alert alert-danger" role="alert">
                <h6 class="p-0">{{ error }}</h6>
            </div>
            {% endfor%}
        {% endif %}

        </div>
        
        <div class="col-sm-6 col-lg-5">
            <label> Course: </label>
            
            <select class="form-control" id="course" name="course" >
                <option hidden disabled selected value> Course </option>
            </select>
            
            {% if form.course.errors %}
                {% for error in form.course.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}

        </div>

        <div class="col-lg-3">
            <label> Password: </label>         
            <input type='text' value="{{form.password.value}}" placeholder="Required if you want to make edits later" class="form-control" name="password" id="password" >
            {% if form.password.errors %}
                {% for error in form.password.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}

        </div>
    </div>
    
    
    <div class="row p-2 ">
        <div class="col">
            <label> Description of what you need help with:</label>
            <textarea class="form-control" placeholder="Give a detailed explanation of your issue" name="desc" id="desc" rows="3">{{ form.desc.value}}</textarea>
            
            {% if form.desc.errors %}
                {% for error in form.desc.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}

        </div>
    </div>
    
    <div class="row p-2 justify-content-between">
        <div class="col-sm-6 d-flex flex-column">
            <label> Your contact information. <u> Give atleast one:</u> </label>
                
                <div class="input-group p-2">
                    <span class="input-group-text" style="min-width:100px">Instagram</span>
                    <input type='text' value="{{form.instagram.value}}" placeholder="Bigdilf43" class="form-control p-2" name="instagram" id="instagram" >
                </div>

                {% if form.instagram.errors %}
                    {% for error in form.instagram.errors%}
                    <div class="alert alert-danger" role="alert">
                        <h6 class="p-0">{{ error }}</h6>
                    </div>
                    {% endfor%}
                {% endif %}

                <div class="input-group px-2 py-1">
                    <span class="input-group-text" style="min-width:100px">Email</span>
                    <input type='text' value="{{form.email.value}}" placeholder="Zubu@illinois.edu" class="form-control p-2" name="email" id="email" >
                </div>
                
                {% if form.email.errors %}
                    {% for error in form.email.errors%}
                    <div class="alert alert-danger" role="alert">
                        <h6 class="p-0">{{ error }}</h6>
                    </div>
                    {% endfor%}
                {% endif %}

                <div class="input-group p-2 ">
                    <span class="input-group-text" style="min-width:100px">Phone</span> 
                    <input type='text' value="{{form.phone.value}}" placeholder="8008135000" class="form-control p-2" name="phone" id="phone" >
                </div>

                {% if form.phone.errors %}
                    {% for error in form.phone.errors%}
                    <div class="alert alert-danger" role="alert">
                        <h6 class="p-0">{{ error }}</h6>
                    </div>
                    {% endfor%}
                {% endif %}
        </div>

        <div class="col p-2">
            <label class="form-label"> Price offer</label>
            
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type='decimal' class="form-control" value="{{ form.price.value }}" name="price" id="price" min="0" value="0" step="0.1" placeholder="Price you think is right ammount to pay the tutor">
            </div>

            {% if form.price.errors %}
                {% for error in form.price.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}
        </div>


        <div class="col p-2">
            <label class="form-label" for="PH"> Per Hour Rate</label>
            
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type='decimal' value="{{ form.PH.value }}" class="form-control" name="PH" id="PH" min="0" value="0" step="0.1" placeholder="Per hour rate">
                <span class='input-group-text'>/Hour</span>
            </div>

            {% if form.PH.errors %}
                {% for error in form.PH.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}
        </div>
            
    </div>

    <div class="row p-2">
        <div class="col-sm-6 d-flex flex-column">
            
            <div>
                <label for="attachment" class="form-label" >Extra attachments relating to the issue</label>
                <input class="form-control" type="file" id="attachment" name='attachment' accept=".jpg, .jpeg, .png, .pdf, .txt">
            </div>

            {% if form.attachment.errors %}
                {% for error in form.attachment.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}
            <div class="embed-responsive embed-responsive-16by9">
                <embed class="embed-responsive-item border rounded p-2" id="file1"></embed>
            </div>
        </div>

        <div class="col">

            <label>Choose your school</label>
            <div class="input-group p-2">
                <span class="input-group-text">School</span>
                <select class="form-control" value="{{ form.school.value }}" name="school" id="school" data-live-search="true">
                    {% for school in schools %}
                    <option value="{{ school }}"> {{ school }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {% if form.school.errors %}
                {% for error in form.school.errors%}
                <div class="alert alert-danger" role="alert">
                    <h6 class="p-0">{{ error }}</h6>
                </div>
                {% endfor%}
            {% endif %}
            
        </div>
    </div>

    <div class="row p-2">
        <div class="col-sm-6">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    
</form>

<script src="{% static 'createform.js' %}" type="text/javascript"></script>

<!-- Keep this after the createform script tag-->
<script type="text/javascript">
    if($('#subject').val()){
        populate_courses("{{form.course.value}}");
    }

</script>
   

{% endblock %}