{% extends 'base.html'%}
{% load static %}

{% block body %}

<div class="row justify-content-around">
    <div class="col-sm-6 d-flex flex-column pl-3">
        {% if question.course %}
            Course:
            <u>
            <h2> {{question.course}} </h2>
            </u>
        {% else %}
            Class:
            <u>
            <h2> {{question.subject}} </h2>
            </u>
        {% endif %}

        <div>
            {% if question.solved %}
                <h3 class="font-italic" style="color: #001a66;"><u>Solved</u></h3>
            {% else %}
                <h3 class="font-italic" style="color: #800000;"><u>Not Solved</u></h3>
            {% endif %}
        </div>
    </div>
    
    <div class="col-sm-4">
        {% if question.instagram %}
        <div class="d-flex flex-row"
            Instagram:
            <u>{{ question.instagram }}</u>
        </div>
        {% endif %}
        
        {% if question.email %}
            <div class="d-flex flex-row">
                Email: 
                <u>{{ question.email }}</u>
            </div>
        {% endif %}

        {% if question.Phone %}
            <div class="d-flex flex-row pb-2">
                Phone:
                <u>{{ question.Phone }}</u>
            </div>
        {%endif %}
    </div>

    <div class="col-md-2 d-flex flex-column text-center ">
        Price offer of:
        <u>
        {% if question.price %}<div class="p-1">${{ question.price }}</div>{% endif %}
        {% if question.PH %}<div class="p-1"> ${{question.PH}}/Hr </div> {% endif %}
        </u>
    </div>

</div>

<div class="row m-2 rounded border border-secondary  min-vh-100">
    <div class="col border-right border-secondary">
        <p class="text-center pt-2 pb-2"> {{question.desc}} </p>
    </div>

    {% if question.attachment %}
        <div class="col-lg-7 col-xl-6 d-flex flex-column embed-responsive">
            <div class="d-flex justify-content-center pt-2">
                <a href="{% url 'download' question.attachment.name %}" class="link-secondary">Download Attachement</a>
            </div>
            <object class="embed-responsive-item round pb-2" id="attachment" style="display:block;width:100%;" data="{{ question.attachment.url }}"> Hmm. we can't seem to load the attachment...</object>        
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    var extension = $('#attachment').attr('data').split('.').pop();
    switch (extension) {
        case 'pdf':
            $('#attachment').css('height', '100%');
            break;
    }
  </script>   

{% endblock %}